#logout
    %a{:href => "/logout"} Log out

#welcome
    Welcome back #{user[:name]}, you are user_id: #{user[:id]}

%h1 kickstarts
#kickstarts
    %table
        - user.kickstarts.each do |ks|
            %tr
                %td
                    = ks[:name]
                %td
                    %form{:action=>"/kickstart/#{ks[:id]}", :method=>"get"}
                        %input{:type=>"submit",:value=>"open"}
                %td
                    %form{:action=>"/kickstart/#{ks[:id]}", :method=>"post"}
                        %input{:type=>"hidden",:name=>"_method",:value=>"delete"}
                        %input{:type=>"submit",:value=>"delete"}

%form{:action=>"/kickstart", :method=>"get"}
    %input{:type=>"submit",:value=>"create"}

%h1 Config Files
#configfiles
    %table
        - user.cfgs.each do |cfg|
            %tr
                %td
                    = cfg[:name]
                %td
                    %form{:action=>"/cfg/#{cfg[:id]}", :method=>"get"}
                        %input{:type=>"submit",:value=>"open"}
                %td
                    %form{:action=>"/cfg/#{cfg[:id]}", :method=>"post"}
                        %input{:type=>"hidden",:name=>"_method",:value=>"delete"}
                        %input{:type=>"submit",:value=>"delete"}

%form{:action=>"/cfg", :method=>"get"}
    %input{:type=>"submit",:value=>"create"}

%h1 jobs
#jobs
    %table
        - user.jobs.each do |job|
            %tr
                %td
                    = job[:name]
                %td
                    %form{:action=>"/job/#{job[:id]}", :method=>"get"}
                        %input{:type=>"submit",:value=>"open"}
                %td
                    %form{:action=>"/job/#{job[:id]}", :method=>"post"}
                        %input{:type=>"hidden",:name=>"_method",:value=>"delete"}
                        %input{:type=>"submit",:value=>"delete"}

%form{:action=>"/job", :method=>"get"}
    %input{:type=>"submit",:value=>"create"}
