#logout
    %a{:href => "/logout"} Log out

#welcome
    Welcome back #{user[:name]}, you are user_id: #{user[:id]}

%h1 kickstarts
#kickstarts
    %table
        - user.kickstarts.each do |ks|
            %tr
                %td
                    = ks[:name]
                %td
                    %form{:action=>"/kickstart/#{ks[:id]}", :method=>"get"}
                        %input{:type=>"submit",:value=>"edit"}
                %td
                    %form{:action=>"/kickstart/#{ks[:id]}", :method=>"post"}
                        %input{:type=>"hidden",:name=>"_method",:value=>"delete"}
                        %input{:type=>"submit",:value=>"delete"}

%form{:action=>"/kickstart", :method=>"get"}
    %input{:type=>"submit",:value=>"create"}

%h1 Config Files
#configfiles
    %table
        - user.configfiles.each do |cf|
            %tr
                %td
                    = cf[:name]
                %td
                    %a{:href => "/configfile/#{cf[:id]}"}
                        Edit
                %td
                    %a{:href => "/configfile/#{cf[:id]}/delete"}
                        Delete

%a{:href => "/new/configfile"} New ConfigFile

%h1 jobs
#jobs
%a{:href => "/new/job"} New Job
