%ul#resource_tabs.nav.nav-tabs
    %li.active
        %a{:href=>"#tab_job", :"data-toggle"=>"tab"} Jobs
    %li
        %a{:href=>"#tab_config", :"data-toggle"=>"tab"} Configuration Files
    %li
        %a{:href=>"#tab_kickstart", :"data-toggle"=>"tab"} Kickstarts

.tab-content
    #tab_job.tab-pane.fade.in.active
        %table.table.table-bordered
            %thead
                %tr
                    %th Job Name
                    %th Status
                    %th Date
                    %th Actions
            - user.jobs.each do |job|
                %tr
                    %td
                        = job[:name]
                    %td
                        = job.current_message[:body]
                    %td
                        = job.current_message[:created_at]
                    %td
                        %form.strip{:action=>"/job/#{job[:id]}", :method=>"get"}
                            %button.btn.btn-primary{:type=>"submit"} Open

                        %form.strip{:action=>"/job/#{job[:id]}", :method=>"post"}
                            %input{:type=>"hidden",:name=>"_method",:value=>"delete"}
                            %button.btn.btn-danger{:type=>"submit"} Delete
    #tab_config.tab-pane.fade
        soy el tab de cf
    #tab_kickstart.tab-pane.fade
        soy el tab de ks


