%h1 New Cfg

- if errors
    .errors.alert.alert-error
        %ul
            - errors.each do |field, error_list|
                %li
                    field <b>#{field}</b>:
                    %ul
                        - error_list.each do |error_msg|
                            %li
                                =error_msg


%form.new_resource.form-horizontal{:action => action_url, :method => 'POST'}
    .control-group
        %label.control-label{:for=>"inputName"} Name
        .controls
            %input#inputName{:type=>"text", :name=>"name", :placeholder=>resource[:name]}

    .control-group
        %label.control-label{:for=>"importCFG"} Import Cfg
        .controls
            %select#importCFG{:name=>"selected_cfg"}
                %option{:value=>"---", :selected=>"yes"} ---
                - CFG_TEMPLATES_KEYS.each do |k|
                    %option{:value=>"#{k}" }
                        = k

    .control-group
        %label.control-label{:for=>"textareaBody"} Body
        .controls
            - if resource[:body].nil?
                %textarea#textareaBody{:name => "body"}
            - else
                %textarea#textareaBody{:name => "body"}= resource[:body]

    .control-group
        %label.control-label{:for=>"submitButton"}
        .controls
            %input{:type =>"submit"}

    %input{:type => "hidden", :name => "id", :value => resource[:id]}
    %input{:type => "hidden", :name => "_method", :value => action_method}

- if revs.count > 1
    %h2 Old revisions
    %ul
    - revs.each_with_index do |rev,i|
        - next if i == 0
        %li
            %a{:href=>"/cfg/#{resource[:id]}/rev/#{rev[:id]}"}
                =rev[:created_at]
